<div class="photo-frames" ng-if="$ctrl.showGallery()">
   <div ng-style="{'background-image' : 'url(' + $ctrl.photos()[0] + ')'}" class="photo-1 frame-large"></div>
   <div ng-style="{'background-image' : 'url(' + $ctrl.photos()[1] + ')'}" class="photo-2"></div>
   <div ng-style="{'background-image' : 'url(' + $ctrl.photos()[7] + ')'}" class="photo-3 frame-large"></div>
   <div ng-style="{'background-image' : 'url(' + $ctrl.photos()[2] + ')'}" class="photo-round"></div>
   <div ng-style="{'background-image' : 'url(' + $ctrl.photos()[4] + ')'}"  class="photo-4 frame-large"></div>
   <div ng-style="{'background-image' : 'url(' + $ctrl.photos()[5] + ')'}" class="photo-5"></div>
   <div ng-style="{'background-image' : 'url(' + $ctrl.photos()[6] + ')'}" class="photo-6 frame-large"></div>
</div>
